* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

:root {
  --primary-background: #f4d04e;
  --card-background: #ffffff;
  --gray-900: #111111;
  --gray-500: #6b6b6b;
}

body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.blog-card-container {
  background-color: var(--card-background);
  width: clamp(20.438rem, 24rem, 28rem);
  padding: 1.5rem;
  border: 0.063rem solid var(--gray-900);
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 1);
  overflow: hidden;
}

.blog-card-image {
  width: 100%;
  border-radius: 0.625rem;
  display: block;
  margin-block-end: 1.5rem;
}

.blog-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-block-end: 1.5rem;
}
